<html>
	<h3>TEMPLATE GOOGLE MAPS FIND&ROUTE</h3>
	<p>Now follows the template for the plugin called Google Maps Find&Route.</p>
	<!-- ###TEMPLATE### begin -->
	<div class="ext_maps_google">
	###GOOGLEMAP###
	
	<div class="form_content">
	###CALCULATION###
	</div>
	
	<div class="box travelmode">
	###TRAVELMODE###
	</div>
	
	<div class="map_information" id="map_information">
		<div class="clear"></div>
		<div class="box routeinformation">
			###ROUTEINFOS###
		</div>
		<div class="clear"></div>
		###EXTLINKS###
	</div>
	
	</div>
	
	<div class="clear"></div>
	<!-- ###TEMPLATE### end -->
</html>